/* 
    Created on : 20-sep-2014, 1:05:37
    Author     : Pedro Gabriel Manrique Gutiérrez <pedrogmanrique at gmail.com>
*/
*{
    margin:0;
    padding:0;
    font-family: sans-serif;
    font-size: 13px;
}
a{
    text-decoration: none;
}

body{
    background: #006699;
}

div.bordito{
    width:100%;
    float:left;
    height:10px;
    background: #0099ff;
    border-bottom: 5px solid #fff;
}

header, #main{
    max-width:800px;
    min-width:480px;    
}

h1{
    font-size:39px;
}
h2{
    font-size:30px;
}
h3{
    font-size:18px;
}
.titulo{color:#fff;padding:10px;}

footer{
    float:left;
    padding:10px;
    color:beige;
}
header{
    background: #069;
    float:left;
    width:800px;
    height: 100px;
}
nav{
    width:100%;
    float:left;
}

ul.menu{
    list-style: none;
    float:right;
    background: white;
    padding:0 5px 5px;
    border-radius:0 0 14px 14px;
    margin-top:-5px;
}

ul.menu > li a{
    color:#fff;
    font-weight: bold;
}
ul.menu > li{
    float:left;
    padding:15px 15px;
    background: #0099ff; color:#fff;
    display: block;
}
ul.menu > li.actual a{
    border-radius: 5px;
    padding:5px 8px;
    background: linear-gradient(#ff0, #f60);
}

ul.menu > li.der,
ul.menu > li.izq{
    display: block;
    height: 36px; width:10px;    
    padding:5px 0px;
}
ul.menu > li.der{
    border-radius: 0 0 10px 0;
}
ul.menu > li.izq{
    border-radius: 0 0 0 10px ;
}

#main{
    position:relative;
    margin: 0 auto;

}

#contenido{
    float:left;
    width:780px;
    height: 500px;
    background: beige;
    margin:10px 0 0 0;
    padding:10px;
    border:5px solid white;
}


